body{
    height: 100vh;
    width: 100vw;
    background-image: url('/frontend/src/assets/images/interieur.png');
    background-size: cover ;
}

/* ===== NAVBAR RESPONSIVE ===== */
@media screen and (max-width: 900px) {

  .navbar2 {
    padding: 30px;
  }

  /* on cache les liens */
  .navbar2 .navlinks {
    display: none;
  }

  /* on affiche le burger */
  .navbar2 .menu-humburger {
    display: block;
  }
}