.navbar {
    position: absolute;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* background-color: rgb(175, 175, 150); */
    border-radius: 50px 0 50px 0px;
    /* box-shadow: 10px 5px 5px rgb(30, 30, 27); */

}

.navbar .logo {
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-link ul {
    display: flex;
    align-items: center;
    

}

.navbar .nav-link ul li {
    margin: 0 35px;
    list-style: none;

}

.navbar .nav-link ul li.active button {
    color: red;
    font-weight: 600;

}
button {
    background: rgb(181, 181, 159) ;
    border-radius: 20px;
    border: none;
    padding: 5px;
    box-shadow: 10px 5px 5px rgb(30, 30, 27);
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

.logout{
    background: rgb(220, 75, 75);


}

button:hover{
    color: rgb(60, 161, 189);
    transform: scale(1.3);
}

a{
    text-decoration: none;
}

span {
    margin-left: 8px;
    color: white;
    font-weight: bold;
}