@if(!authService.isLoggedIn()){

    <nav class="navbar">
        <a href="#" class="logo" >CLEAN AUTO</a>
        <div class="nav-link">
            <ul>
                <li class="active"><button routerLink="/home">Home</button></li>
                <li><button routerLink="/prestations">Prestation</button></li>
                <li><button routerLink="/reservations">Réservation</button></li>
                <li><button routerLink="/contact">Contact</button></li>
                <li><button routerLink="/inscription">Inscription</button></li>
    
            </ul>
        </div>
    </nav>
}@else {

      <nav class="navbar">
        <a href="#" class="logo" >CLEAN AUTO</a>
        <div class="nav-link">
            <ul>
                <li class="active"><button routerLink="/home">Home</button></li>
                <li><button routerLink="/prestations">Prestation</button></li>
                <li><button routerLink="/reservations">Réservation</button></li>
                <li><button routerLink="/contact">Contact</button></li>
                <li><button routerLink="/profile">Profile</button></li>
                <li><button class="logout" (click)="logout()">Deconnexion</button></li>
                <span class="username">Bienvenue, {{ authService.getUserName() }}</span>
    
            </ul>
        </div>
    </nav>

}
