.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
   
}

#logout-link{

    color: white;
    font-size: 400;
    background: Red;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}

#home-link{
   
    font-size: 500;
   
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}
