

/* ===== NAVBAR ===== */
.navbar2 {
  position: absolute;
  z-index: 1000;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* liens */
.navbar2 a {
  color: white;
  text-decoration: none;
}

/* logo */
.navbar2 .logo {
  font-size: 2em;
  font-weight: bold;
}

/* navigation desktop */
.navbar2 .navlinks {
  display: flex;
}
.navbar2 .navlinks{
    cursor: pointer;
}

.navbar2 .navlinks ul {
  display: flex;
}

.navbar2 .navlinks ul li {
  margin: 0 25px;
}

.navbar2 .navlinks ul li.active2 a {
  color: red;
  font-weight: 600;
}

/* menu hamburger (caché par défaut) */
.navbar2 .menu-humburger {
  display: none;
  position: absolute;
  width: 35px;
  top: 50px;
  right: 40px;
  cursor: pointer;
}

.logout{


    color: red;
    font-size: 600;
    background: Red;
    border-radius: 30px;
    padding: 5px;
}
