
<h1>Formulaire d'inscription</h1>
<div class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" placeholder="Dupont" formControlName="firstName">
    
    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" name="prenom" placeholder="François" formControlName="lastName">
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Dupont@gmail.com" formControlName="email">

    <label for="motdepasse">Mot de passe:</label>
    <input type="password" id="motdepasse" name="motdepasse" placeholder="*****" formControlName="password">

    <label for="phoneNumber">Téléphone:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="0123456789" formControlName="phoneNumber">
    
    <button type="submit">S'inscrire</button>
  </form>
</div>  