h1 {
    text-align: center;
    color: white;
    padding-top: 150px;
}

label {
    font-weight: bold;
    color: white;
}

.form {
    margin: auto;
    width: 35%;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    display: flex;
    margin: auto;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px #45a049;
    
}