

<h2>Ce que disent nos clients</h2>

<div class="avis-container">
  <div class="cardAvis">
    <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Jeffrey Brown">
    <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    <div class="author">- Fael Brown</div>
  </div>

  <div class="avis-container">
  <div class="cardAvis">
    <img src="https://randomuser.me/api/portraits/men/33.jpg" alt="Jeffrey Brown">
    <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    <div class="author">- Hichem Brown</div>
  </div>

  <div class="cardAvis">
    <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Maria Chen">
    <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    <div class="author">- Bilel Beouche</div>
  </div>

    <div class="cardAvis">
    <img src="https://randomuser.me/api/portraits/women/46.jpg" alt="Maria Chen">
    <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    <div class="author">- sabrina Beouche</div>
  </div>

</div>

