/* h2{
    text-align: center;
}

.avis-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    text-align: center;
    gap: 20px;
}

.card{
    display: flex;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 10px 5px 5px rgb(30, 30, 27);
    
}

.clients{
    display: flex;
    align-items: flex-end;
    font-weight: bold;
} */

  body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    padding: 50px;
  }

  h2 {
    padding-top: 150px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }

  .avis-container {
    display: flex;
    justify-content: center;
    /* padding-top: 130px; */
    gap: 40px;
    flex-wrap: wrap;
  }

  .cardAvis {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .cardAvis img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 30px;
    border: 3px solid #fff;
  }

  .cardAvis p {
    margin-top: 50px;
    font-size: 14px;
    color: #333;
  }

  .cardAvis .author {
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
  }

  .note{
    position: absolute;
  bottom: 20px;
  right: 20px;
    font-weight: bold;
  }

  .etoiles {
    
    position: absolute;
    left: 20px;
    top: 20px;
  }

.sucess {
  color: green;
  font-weight: bold;
}

.err{
  color: red;
  font-weight: bold;
}