
<H1>Préstations</H1>
<div class="cards">

    @for(prestation of prestations; track prestation.id ){
     
        <div class="card">
            <h2>{{prestation.namePrestation}}</h2>
            <h4>{{prestation.description}}</h4>
            
            <p>Prix : 80 €</p>
            <button routerLink="/login" >Pour reserver connecté vous</button>
            
            @if(authService.isLoggedIn()){
                <button routerLink="/reservations">Réserver</button>   
        }
    </div>
    
}
</div>