.container {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: white;
    
    padding-top:120px;     
}
.card {
    margin-top: 10px;
    width: auto;
    height: auto;
    background: #fffdfd;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    padding: 10px;
     box-shadow: 10px 5px 5px rgb(30, 30, 27);
     opacity: 0.9;
    
}

.card:hover{
    transform: scale(1.1);
}

button {
 
    padding: 8px 20px;
    border: none;
    border-radius: 9px;
    background: #164a82;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
button:hover{
    background: green;
    transform: scale(1.3);
}

h1 {

    text-align: center;
}